*{
    margin: 0;
    
}
body{
    margin: 0;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    background-color: #070707;
    font-family:inherit ;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
.banner{
    color: #fff;
    object-fit: contain;
    height: 448px;
    box-shadow: 10px 0px 3px black;
}
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 30px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all .5s;
    
    

}
.nav-logo{
    position: relative;
    width: 140px;
    left: 20px;
    cursor: pointer;
}
.sign-in{
    position: absolute;
    width: 100px;
    right: 100px;
    margin-top: 6px;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    border: 2px solid;
    border-color: red;
    padding: 8px;
    transform: 0.4s ease ;
    cursor: pointer;
   
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
.banner-contents{
    margin-left: 30px;
    height: 300px;
    padding-top:180px;
    font-family: inherit;
}
.banner-title{
    margin-bottom:20px; 
    font-size: 3rem;
}
.banner-buttons{
    margin-bottom:20px;
}

h1{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: .8rem;
    max-width: 400px;
    height: 80px;
}

.lan-set{
    background-color: inherit;
    border-radius: 5px;
    position: absolute;
    width: 100px;
    color: #fff;
    border: 2px solid;
    right: 250px;
    margin-top:5px ;
    padding: 10px;
    font-size: 14px;
       
}
button:active{
    transform: scale(.95);
}
.banner-button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    margin-right: 1rem;
    background-color: rgba(51,51,51,.5);
    padding: 0.5rem 2rem;
}
.banner-button:hover{
    background-color: #fff;
    color: black;
    transition-duration: .6s;
}
.banner-fadeBottom{
    height: 7.4rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
}
.row{
    margin-left: 20px;
    color: #fff;
}
.row-posters{
    display: flex;
    align-content: space-around;
    padding: 20px;
}

.row-poster{
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 100px;
    transition: transform .4s;
    margin-right: 10px;
    max-height: 250px;

}
.row-poster:hover{
    transform: scale(1.1);
}